{% extends 'base.html' %}

{% block titulo%}Inicio{% endblock titulo %}

{% block navegacion %}
<!-- 	<li>
		<a href="#">Dashboard</a> <span class="divider">/</span>    
	</li>
    <li>
    	<a href="#">Settings</a> <span class="divider">/</span> 
    </li> -->
    <li class="active"> <i class="fa fa-home"></i> Inicio</li>
{% endblock navegacion %}

{% block tituloContenido %}
	Bienvenido
{% endblock tituloContenido %}

{% block contenido %}
    <div class="span12 alert alert-info">
         <i class="fa fa-info-circle fa-2x"></i> Bienvenido al sistema CENTINELA Sr.(a) <b>{{ user.usuario.nombres}} {{user.usuario.apellidos}}</b>. <br>Creaci&oacute;n del usuario: {{ user.date_joined}}.<br>
         {% if not user.last_login == null %}
         	Ultima entrada: {{ user.last_login }}.
         {% endif %}	
    </div>
{% endblock contenido %}