{% extends 'base.html' %}

{% block titulo%}Agenda{% endblock titulo %}
                            {% block opciones %}
                            <li >
                                <a href="{% url 'usuario.login' %}">Inicio</a>
                            </li >
                            <li class="active">
                                <a href="{% url 'agenda.agenda-list' %}">Agenda</a>
                            </li>
                                                    
                            {% endblock opciones %}
{% block navegacion %}
<!-- 	<li>
		<a href="#">Dashboard</a> <span class="divider">/</span>    
	</li>
    <li>
    	<a href="#">Settings</a> <span class="divider">/</span> 
    </li> -->
    <li> <a href="{% url 'usuario.index' %}"><i class="fa fa-home"></i> Inicio <span class="divider">/</span></a></li>
    <li class="active"> </i> Agenda </li>
{% endblock navegacion %}

{% block tituloContenido %}
    Agenda de inspecciones

{% endblock tituloContenido %}

{% block contenido %}
    
        <div class="span12">
            <div class="span12">
                <div class="span1">
                    <a href="{% url 'agenda.agendarInspeccion' %}"><i class="fa fa-plus-circle fa-2x"></i></a>
                </div>
                
                <div class="span11" style="text-align:right">
                    <form action="." method="GET" >
                        <div class="control-group">
                            <div class="controls">
                                <input class="input-xlarge" id="q" name="q" value="{{ query|escape }}" type="text" placeholder="Buscar por OS o nombre de proyecto..">
                               
                                        {% if user.usuario.coordinador %}
                                
                                    
                                        <select class="span6 m-wrap" id="cmbInspectores" name="cmbInspectores">
                                            {% if inspectorSeleccionado %}
                                                <option value={{inspectorSeleccionado.id}}>
                                                    {{inspectorSeleccionado.nombres}} {{inspectorSeleccionado.apellidos}}
                                                </option>                                               
                                            {% endif %}
                                            <option value=0>[Todos los inspectores...]</option>
                                            
                                            
                                            {% for inspector in inspectores %}
                                                {% if inspector != inspectorSeleccionado %}
                                                <option value={{inspector.id}}>
                                                    {{inspector.nombres}} {{inspector.apellidos}}
                                                </option>
                                                {% endif %}
                                            {% endfor %}    
                                        </select>
                                   
                                
                                        {% endif %}
                                
                                <div class="controls">
                                    <select class="span6 m-wrap" id="cmbEjecutada" name="cmbEjecutada">
                                        {% if ejecutada %}
                                            {% if ejecutada == '0' %}
                                                <option value="0">[Mostrar Todas las inspecciones...]</option>
                                                <option value="1">Mostrar Inpecciones por realizar</option>
                                                <option value="2">Mostrar Inspecciones realizadas</option>
                                            {% endif %}
                                            {% if ejecutada == '1' %}
                                                <option value="1">Mostrar Inpecciones por realizar</option>
                                                <option value="0">[Mostrar Todas las inspecciones...]</option>
                                                <option value="2">Mostrar Inspecciones realizadas</option>
                                            {% endif %}
                                            {% if ejecutada == '2' %}
                                                <option value="2">Mostrar Inspecciones realizadas</option>
                                                <option value="0">[Mostrar Todas las inspecciones...]</option>
                                                <option value="1">Mostrar Inpecciones por realizar</option>
                                                
                                            {% endif %}
                                        {% else %}
                                            <option value="0">[Mostrar Todas las inspecciones...]</option>
                                            <option value="1">Mostrar Inpecciones por realizar</option>
                                            <option value="2">Mostrar Inspecciones realizadas</option>
                                        {% endif %}
                                    </select>
                                </div>
                                  
                                <button class="btn btn-info" type="submit">Buscar</button>        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if object_list %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="10%">Opciones</th>
                        <th width="10%">Ejecutada</th>
                        <th width="10%">Orden de servicio</th>
                        <th width="20%">Nombre del proyecto</th>
                        <th width="25%">fecha Programada</th>
                        <th width="15%">Inspector</th>                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for inspeccion in object_list %}
                        <tr>
                            <td>
                                {% if inspeccion.cerrada %}
                                {% else %}
                                <a href="{% url 'inspeccion.registrarInspeccion' inspeccion.id %}" title="Iniciar Inspeccion">
                                    <i class="fa fa-play-circle-o fa-2x"></i>
                                </a>
                                <a href="#" title="Cancelar">
                                    <i class="fa fa-times fa-2x"></i>
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if inspeccion.cerrada %}
                                    <font color="green"><i class="fa fa-check-circle-o fa-2x"></i></font>
                                {% else %}
                                    <font color="red"><i class="fa fa-minus-circle fa-2x"></i></font>
                                {% endif %}
                            </td>
                            <td>{{ inspeccion.ordenServicio }}</td>
                            <td>{{ inspeccion.nombreProyecto }}</td>
                            <td>{{ inspeccion.fecha }}</td>
                            <td>{{ inspeccion.inspector.nombres }} {{ inspeccion.inspector.apellidos }}</td>
                            
                            


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--Paginacion de los registros-->
            {% if is_paginated %}
            <ul class="pagination">

                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">anterior</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% ifequal num page_obj.number %}
                            <li><a href="#" class="active">{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}"> {{ num }}</a></li>
                        {% endifequal %} 
                    {% endfor %}
                
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">siguiente</a></li>
                    {% endif %}
            </ul>
            {% endif %}
        
        {% else %}
            <div class="span12 alert alert-warning">
                 <i class="fa fa-warning fa-2x"></i> No se encontraron registros en su agenda    
            </div>
        {% endif %}
        </div>
{% endblock contenido %}