{% extends 'base.html' %}

{% block titulo%}Agenda{% endblock titulo %}
                            {% block opciones %}
                            <li >
                                <a href="{% url 'usuario.login' %}">Inicio</a>
                            </li >
                            <li class="active">
                                <a href="{% url 'agenda.agenda-list' %}">Agenda</a>
                            </li>
                                                     
                            {% endblock opciones %}
{% block navegacion %}
    <li> <a href="{% url 'usuario.index' %}"><i class="fa fa-home"></i> Inicio <span class="divider">/</span></a></li>
    <li><a href="{% url 'agenda.agenda-list' %}"> Agenda <span class="divider">/</span></a></li>
    <li class="active"> </i> Nueva programacion </li>
{% endblock navegacion %}
{% block tituloContenido %}
    Agenda de inspecciones - {{ titulo }}

{% endblock tituloContenido %}


{% block contenido %}
	
	<div class="span10">
		<form id="frmAgenda" class="form-horizontal" action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-actions">
				<button class="btn btn-primary" type="submit" >{{nombre_btn}}</button>
			</div>	
			
		</form>
		<a href="{% url 'agenda.agenda-list' %}"><i class="fa fa-arrow-circle-left fa-2x"></i> Volver al listado de la agenda</a>
	</div>
	<!-- {{ user.usuario.id_empresa.nombre}} -->

{% endblock contenido %}


