<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>{% block titulo%}{% endblock titulo %}</title>
        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="icon" type="image/png" href="{% static 'logo.jpg' %}" />
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'vendors/easypiechart/jquery.easy-pie-chart.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/styles.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{% static 'vendors/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>


        <style>
        ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {display: inline;}

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        ul.pagination li a:hover:not(.active) {background-color: #ddd;}


        </style>
        {% block estilos %}
        {% endblock estilos %}
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">CENTINELA</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {{ user.usuario.nombres }} {{ user.usuario.apellidos}} <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">Mi perfil</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="{% url 'usuario.logout' %}">Salir</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            {% block opciones %}
                            <li class="active">
                                <a href="{% url 'usuario.login' %}">Inicio</a>
                            </li>
                            <li>
                                <a href="{% url 'agenda.agenda-list' %}">Agenda</a>
                            </li>
                                                     
                            {% endblock opciones %}
                            {% if user.usuario.coordinador%}   
                              {% if '/seguimiento/' in request.path %}
                                <li class="active">
                              {% else %}
                                <li>  
                              {% endif%}
                                    <a href="{% url 'inspeccion.inspeccion-list' %}">Seguimiento</a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar" style="display:none">
 
                </div>
                
                <!--/span-->
                <div class="span12" id="content">
                    <div class="row-fluid">
                            
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="breadcrumb">
                                        {% block navegacion%}
                                        {% endblock navegacion%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">
                                    {% block tituloContenido %}
                                    {% endblock tituloContenido %}
                                </div>
                                
                            </div>
                            <div class="block-content collapse in">
                                {% include '_messages.html' %}
                                {% block contenido %}
                                {% endblock contenido %}
                            </div>
                        </div>
                        <!-- /block -->
                    </div>

                </div>
            </div>

        </div>
        <!--/.fluid-container-->
        <script src="{% static 'vendors/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/easypiechart/jquery.easy-pie-chart.js' %}"></script>
        <script src="{% static 'assets/scripts.js' %}"></script>
        {% block imports %}
        {% endblock imports %}
    </body>

</html>